
<form action="index.php" method="post">

  <label for="user">Gebruikersnaam:</label><br>
  <input type="text" name="user" value="@username@"><br>

  <label for="pass1">Wachtwoord:</label><br>
  <input type="password" name="pass1" value="@pass1@"><br>

  <label for="pass2">Wachtwoord (nogmaals):</label><br>
  <input type="password" name="pass2" value="@pass2@"><br>

  <label for="pass">Aanmeld ticket code:</label><br>
  <input type='text' name='code' value="@ticketcode@"><br>
  <br>
  <input type="submit" value="Aanmelden">

</form>

