<!DOCTYPE html>
<html>
<head>
  <title>Invite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">

<img src="key.svg" height=64px align="right">

<h2>Genereer code</h2>

@body@

</body>
</html>

