
body {
  font-family: Arial;
  font-size: 12px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 40px;
}

img {
  position: static;
  margin-top: -10px;
}
.error {
  color:red;
}
.success {
  color:green;
}
.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 20px;
  width: 280px;
}

